/* 평점 */
.movie-info span.green{
    color:green;
}

.movie-info span.blue{
    color:blue;
}

.movie-info span.red{
    color:red;
}

/* 포스터 */
.movie {
    width: 300px;
    position:relative;
}

.movie img{
    width:100%;
    height:400px;
}

main{
    /* position: relative; */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
